@model Falcon.App.Core.Medical.ViewModels.HealthAssessmentFooterEditModel

@{
    bool isPrint = ViewData["IsPrintable"] != null && Convert.ToBoolean(ViewData["IsPrintable"]) == true ? true : false;    

    bool isMammoPurchased = ViewData["IsMammoPurchased"] != null && Convert.ToBoolean(ViewData["IsMammoPurchased"]) == true ? true : false;
}
<style type="text/css">
    .memo-info input[type="text"]
    {
        border: none;
        border-bottom: 1px solid black;
    }
</style>

@if (isMammoPurchased && isPrint)
{
    <div style="float: left; width: 97%; font-size: 12px; page-break-before: always; overflow: hidden;">
        <div style="float: left; width: 99%; text-align: right; margin-bottom: 20px;">
            <img src="/Config/Content/Images/Logo-Small-160x60.gif"/>
        </div>
        <div style="float: left; width: 99%; margin-top: 10px; margin-bottom: 10px; border-bottom: solid 3px #330170; font-size: 18px; color: #330170; ">
            <b>MAMMOGRAPHY HEALTH QUESTIONNAIRE</b>
        </div>
        <div style="float: left; width: 99%; padding-bottom: 20px; border-bottom: solid 1px #330170;" class="memo-info">
            <div style="float: left; width: 45%;">
                <div style="float: left; width: 20%;">Name:</div>
                <div style="float: left; width: 78%;">
                    <input type="text" value="@(Model.CustomerName.ToString())"/>
                </div>
            </div>
            <div style="float: left; width: 25%;">
                <div style="float: left; width: 20%;">PID:</div>
                <div style="float: left; width: 78%;">
                    <input type="text" value="@(Model.CustomerId)"/>
                </div>
            </div>
            <div style="float: left; width: 25%;">
                Today's Date:
                <input type="text" id="TodayDateMonthTextbox" style="width: 20px;" value="@(DateTime.Now.Month)" />/
                <input type="text" id="TodayDateDayTextbox" style="width: 20px;" value="@(DateTime.Now.Day)" />/
                <input type="text" id="TodayDateYearTextbox" style="width: 30px;" value="@(DateTime.Now.Year)" />
            </div>
        </div>
        <div class='mammo-haf-container' style='margin-top:10px;'>
        </div>
        <div class="memo-info">
            <div style="float: left; width:100%;">
                Technician Notes:
                <input type="text" id="TechnicianNotesTextbox1" style="width: 710px;" />
            </div>
        </div>
        <div class="memo-info">
            <div style="float: left; width:100%;">
                <input type="text" id="TechnicianNotesTextbox2" style="width: 810px;" />
            </div>
        </div>
        <div class="memo-info" style="float:left; width: 100%; margin-top: 20px;">
            <div style="float: left; width: 80%;">
                Technician Signature:
                <input type="text" id="TechnicianSignatureTextbox" style="width: 440px;" />
            </div>
            <div style="float: left; width: 20%;">
                Date:
                <input type="text" id="TechnicianSignatureDateTextbox" style="width: 90px;" />
            </div>
        </div>
    </div>
}