@model Falcon.App.Core.Communication.ViewModels.NotificationTypeListModel
@{
    ViewBag.Title = "Manage Notifications";
}
<style type="text/css">
    td.status, th.status
    {
        width: 100px;
    }
    td.status div
    {
        clear: both;
        padding: 5px 0px;
    }
    td.status span
    {
        float: left;
        padding-right: 4px;
    }
    td.center
    {
        text-align: center;
    }
</style>
<h2>
    Manage Notifications</h2>
@{Html.BeginForm("Index", "Notification", FormMethod.Get);}
<div id="list-filter">
    @Html.Partial("NotificationTypeFilter", Model.Filter)
</div>
@{Html.EndForm();}
@if (Model.Collection == null || !Model.Collection.Any())
{
    <h2>
        No Records Found!
    </h2>
}
else
{
    @Html.DisplayFor(m => m.PagingModel)
    <table id="list-view">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Medium
            </th>

            <th class="center">
                Serving
            </th>
            <th class="center">
                Queuing
            </th>
            <th>
                Last Modified On
            </th>
            <th style="width: 100px;" class="action-field">
            </th>
        </tr>
        @foreach (var item in Model.Collection)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationMedium.Medium)
                </td>
                <td class="center">
                    @if (!item.IsServiceEnabled)
                    {                    
                        <img src="/Content/Images/Icons/off_button.jpg" alt="Off" title="Off" />
                    }
                    else
                    {                    
                        <img src="/Content/Images/Icons/on_button.jpg" alt="On" title="On" />
                    }
                </td>
                <td class="center">
                    @if (!item.IsQueuingEnabled)
                    {                    
                        <img src="/Content/Images/Icons/off_button.jpg" alt="Off" title="Off" />
                    }
                    else
                    {                    
                        <img src="/Content/Images/Icons/on_button.jpg" alt="On" title="On" />
                    }
                </td>
                <td>
                    @((item.DataRecorderMetaData.DateModified ?? item.DataRecorderMetaData.DateCreated).ToShortDateString())
                </td>
                <td class="action-field">
                    <a href="javascript:void(0);" onclick="setUpdateDialog(@item.Id, '@item.NotificationTypeName', @(item.IsServiceEnabled.ToString().ToLower()), @(item.IsQueuingEnabled.ToString().ToLower()), @item.NumberOfAttempts);" class="servicestatus-toggle">
                        Update Notification </a>
                    <img src="/App/Images/loading.gif" class="servicestatus-toggle" alt="" style="display: none;" />
                </td>
            </tr>
        }
    </table>
    @Html.DisplayFor(m => m.PagingModel)
}
<div id="updatenotification-dialog-div">
    <div class="editor-row">
        <b>Number of Failure Attempts: </b>
        <select id="numberattemptsselect">
            <option value="1">1 </option>
            <option value="2">2 </option>
            <option value="3">3 </option>
            <option value="4">4 </option>
            <option value="5">5 </option>
        </select>
        <br />
        <br />
        <span style="padding-right: 34px;">Serve Queued Notifications</span><input type="checkbox"
            id="servicerunningcheck" />&nbsp;<img src="/App/Images/info-icon.gif" alt="info"
                class="info-serve-notification" />
        <br />
        <br />
        <span style="padding-right: 78px;">Queue Notifications</span><input type="checkbox"
            id="queuingstatuscheck" />&nbsp;<img src="/App/Images/info-icon.gif" alt="info" class="info-queue-notification" />
        <input type="hidden" id="notificationidinput" value="0" />
    </div>
    <div style="width: 98%; text-align: right;">
        <input type="button" value="Update" onclick="UpdateNotificationData();" />
    </div>
</div>
<link href="/Content/Styles/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jquery.qtip.min.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">

    $('.info-serve-notification').qtip({
        position: {
            my: 'right top'
        },
        content: {
            text: function (api) {
                return "Enables/Disables the Serving of the queued records.";
            }
        },
        style: {
            width: '300px'
        }
    });

    $('.info-queue-notification').qtip({
        position: {
            my: 'right top'
        },
        content: {
            text: function (api) {
                return "Enables/Disables the queuing of the records.";
            }
        },
        style: {
            width: '300px'
        }
    });


    $(function () {
        $("table#list-view tr:even").addClass("alt-row");
    });

    $(document).ready(function () {
        $("#updatenotification-dialog-div").dialog({ autoOpen: false, modal: true, title: 'Notification Data', resizable: false, draggable: true });
    });

    function setUpdateDialog(id, name, serviceRunningStatus, queuingStatus, numberOfAttempts) {
        $("#updatenotification-dialog-div").dialog({ title: name });

        if (serviceRunningStatus) {
            $("#servicerunningcheck").attr("checked", "checked");
        }
        else {
            $("#servicerunningcheck").removeAttr("checked");
        }

        if (queuingStatus) {
            $("#queuingstatuscheck").attr("checked", "checked");
        }
        else {
            $("#queuingstatuscheck").removeAttr("checked");
        }

        $("#numberattemptsselect option[value=" + numberOfAttempts + "]").attr("selected", true);
        $("#notificationidinput").val(id);
        $("#updatenotification-dialog-div").dialog("open");
    }

    function UpdateNotificationData() {
        $(".servicestatus-toggle").toggle();

        var serviceRunningStatus = $("#servicerunningcheck").is(":checked");
        var queuingStatus = $("#queuingstatuscheck").is(":checked");
        var numberOfAttempts = $("#numberattemptsselect option:selected").val();
        var id = $("#notificationidinput").val();

        $("#updatenotification-dialog-div").dialog("close");

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Communication/Notification/UpdateNotificationData?id=" + id + "&serviceRunningStatus=" + serviceRunningStatus + "&queuingStatus=" + queuingStatus + "&numberOfAttempts=" + numberOfAttempts,
            data: "{}",
            success: function (result) {
                alert(result.Message);

                if (result.IsSuccess) {
                    window.location.reload();
                    return;
                }

                $(".servicestatus-toggle").toggle();
            },
            error: function (a, b, c) {
                if (a.status == 401) {
                    alert("You do not have permission to update the Notification status!");
                    }
                else
                alert("Some error occured while processing your request!");
                $(".servicestatus-toggle").toggle();
            }
        });

        return false;
    }

</script>
