@model Falcon.App.Core.Operations.ViewModels.PodListModel
@{
    ViewBag.Title = "Manage Pod / Hub";
}
@section css {
    <link href="/Content/Styles/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
}
<h1>
    Manage Pods / Hub</h1>
<div class="option-links">
    <a href="/Operations/Pod/Create">+ Add New Pod </a>
</div>
<table id="list-view">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Franchisee</th>
        <th>Territories</th>
        <th>Pod Staff</th>
        <th>Action</th>
    </tr>
    @foreach (var pod in Model.Pods)
    {
        <tr>
            <td>@pod.PodName</td>
            <td>@pod.Description</td>
            <td>@pod.AssignedToFranchisee</td>
            <td>
                <span class="terrtories"><a href="#">Territories </a>
                    <ul style="display: none">
                        @foreach (var territoryName in pod.AssignedTerritories)
                        {
                            <li>
                                @territoryName
                            </li>
                        }
                    </ul>
                </span>
            </td>
            <td>
                <span class="default-staff"><a href="#">Default Staff</a>
                    <ul style="display: none;">
                        @foreach (var ps in pod.PodStaff)
                        {
                            <li>
                                @ps.FirstValue - @ps.SecondValue
                            </li>
                        }
                    </ul>
                </span>
            </td>
            <td>
                <a href="/Operations/Pod/Edit?id=@pod.Id">Edit</a>
            </td>
        </tr>
    }
</table>
@section scripts {
    <script src="/Scripts/jquery.qtip.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            $("table#list-view tr:even").addClass("alt-row");

            $("tr:not(:has(th))").hover(function () {
                $(this).addClass('row-hover');
            },
            function () {
                $(this).removeClass('row-hover');
            });

            $('.terrtories').qtip({
                content: {
                    title: 'Assigned Territories',
                    text: function (api) {
                        //from the selector to a child element.
                        return $(this).find('ul').html();
                    }
                }
            });

            $('.default-staff').qtip({
                content: {
                    title: 'Default Team',
                    text: function (api) {
                        return $(this).find('ul').html();
                    }
                }
            });

        });
    </script>
}
