@using Falcon.App.UI.HtmlHelpers
@model Falcon.App.Core.Scheduling.ViewModels.CancelledCustomerModelFilter
<h2>
    Search Records</h2>
<div style="padding-left: 5px; overflow: hidden;">
    <div class="editor-column" style="width: 17%">
        <div class="small-text">
            <b>Event</b> From
        </div>
        @Html.TextBoxFor(m => m.FromDate, new { @class = "datePicker" })
    </div>
    <div class="editor-column" style="width: 18%">
        <div class="small-text">
            To
        </div>
        @Html.TextBoxFor(m => m.ToDate, new { @class = "datePicker" })
    </div>
    <div class="editor-column" style="width: 18%">
        <div class="small-text">
            Event Type:
        </div>
        <div>
            <input type="checkbox" id="is-retail-event" @(Model.IsRetailEvent ? "checked" : "") onclick="onCheckEventType(this, 'IsRetailEvent');" />Retail
            <input type="checkbox" id="is-corporate-event" @(Model.IsCorporateEvent ? "checked" : "") onclick="onCheckEventType(this, 'IsCorporateEvent');" />Corporate
        </div>
        <div>
            <input type="checkbox" id="is-public-event" @(Model.IsPublicEvent ? "checked" : "") onclick="onCheckEventType(this, 'IsPublicEvent');" />Public
            <input type="checkbox" id="is-private-event" @(Model.IsPrivateEvent ? "checked" : "") onclick="onCheckEventType(this, 'IsPrivateEvent');" />Private
        </div>
        @Html.HiddenFor(m => m.IsRetailEvent)
        @Html.HiddenFor(m => m.IsCorporateEvent)
        @Html.HiddenFor(m => m.IsPublicEvent)
        @Html.HiddenFor(m => m.IsPrivateEvent)
    </div>
    <div class="editor-column" style="width: 40%">
        <div class="editor-column" style="width: 49%">
            <div class="small-text">
                Hospital Partners:
            </div>
            @Html.DropDownListFor(m => m.HospitalPartnerId, DropDownHelper.HospitalPartners(), new { @style = "width:100%;" })
        </div>
        <div class="editor-column" style="width: 48%">
            <div class="small-text">
                Corporate Sponsors:
            </div>
            @Html.DropDownListFor(m => m.CorporateAccountId, DropDownHelper.GetCorporateAccounts(), new { @style = "width:100%;" })
        </div>
    </div>
    <div class="editor-column" style="padding-top: 10px; float:right; text-align:right;">
        @Html.ActionLink("Clear", "CancelledCustomer", "Reports") | @Html.SubmitButton("Search")
    </div>
</div>
<script language="javascript" type="text/javascript">
    function onCheckEventType(checkBox, hiddenBox) {
        if ($(checkBox).attr("checked")) {
            $("#" + hiddenBox).val('@Boolean.TrueString');
        }
        else {
            $("#" + hiddenBox).val('@Boolean.FalseString');
        }
    }
</script>
