@using Falcon.App.Core.Extensions
@using System.Linq
@model Falcon.App.Core.CallCenter.ViewModels.CallSkippedReportListModel
@{
    ViewBag.Title = "Call Skipped Report";
}

<h1>Call Skipped Report</h1>
<style>
    #list-view td {
        width: 100px !important;
    }
</style>
<script src="/Scripts/reportexportqueue.js"></script>
<div id="ExportToCsvMessage" style="display:none;">
</div>
<div id="list-filter">
    @{Html.BeginForm("CallSkippedReport", "Reports", FormMethod.Get);}
    @Html.Partial("CallSkippedReportFilter", new ViewDataDictionary(Model.Filter))
    @{Html.EndForm();}
</div>

@if (Model != null && !Model.Collection.IsNullOrEmpty())
{
    <div class="exportcsvlink">
        @if (Model.PagingModel.NumberOfItems > 2000)
        {
            <a href="javascript:void(0);" onclick='return requestReport("/CallCenter/ReportsQueue/CallSkippedReport?@Request.QueryString","ExportToCsvMessage",@Model.PagingModel.NumberOfItems);'>
                Export CSV
            </a>
        }
        else
        {
            <a target="_blank" href="/CallCenter/ExportableReports/CallSkippedReport?id=@System.Guid.NewGuid().ToString()&@Request.QueryString">Export CSV </a>
        }

    </div>
    var itemList = Model.Collection.ToArray();
    @Html.DisplayFor(m => m.PagingModel)
    <div style="margin-bottom: 10px; overflow: auto;">
        <table id="list-view">
            <tr>
                <th nowrap>Customer Id</th>
                <th nowrap>Customer Name</th>
                <th nowrap>Call Queue</th>
                <th nowrap>Health Plan</th>
                <th nowrap>Call Skip Date</th>
                <th nowrap>Call Skip Time</th>
                <th nowrap>Agent Name</th>
                <th nowrap>Notes</th>
            </tr>
            @foreach (var item in itemList)
            {
                <tr>
                    <td> @item.CustomerId </td>
                    <td> @item.CustomerName</td>
                    <td> @item.CallQueue</td>
                    <td> @item.HealthPlan</td>
                    <td> @item.DateOfSkip</td>
                    <td> @item.TimeOfSkip </td>
                    <td> @item.AgentName</td>
                    <td> @item.Notes</td>
                </tr>
            }
        </table>
    </div>

    @Html.DisplayFor(m => m.PagingModel)
}
else
{
    <div>
        <h2>
            No Records found.
        </h2>
    </div>
}

@section scripts {
    <link href="/Content/Styles/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery.qtip.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("table#list-view tr:even").addClass("alt-row");
        });

        $(function () {
            $("tr:not(:has(th))").hover(function () {
                $(this).addClass('row-hover');
            },
            function () {
                $(this).removeClass('row-hover');
            });
        });
    </script>
}