@using Falcon.App.Core.Application.Enum
@using Falcon.App.Core.Users.ViewModels
@model CorporateAccountBasicInfoEditModel

@if (Model != null)
{
   // @Html.Partial("Message", new ViewDataDictionary(Model.FeedbackMessage))
    if (Model.FeedbackMessage != null && Model.FeedbackMessage.MessageType == UserInterfaceMessageType.Success)
    {<text>
        <script type="text/javascript">
            @if (Model.IsNew)
        {
            <text>loadEditModel('@Model.OrganizationEditModel.Id');</text>
        }
        else
        {
            <text> $("#tabs").tabs({ selected: 1 }); </text>
        }
        </script>
    </text>
    }
}
@*<link href="/Content/Styles/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jquery.qtip.min.js" type="text/javascript"></script>*@

<style type="text/css">
    input[type='text'][name$=Name], input[type='text'][name$=Email], input[type='text'][name$=CorpCode] {
        width: 95% !important;
    }

    [id$='OrganizationType'], [for$='OrganizationType'] {
        display: none;
    }

    .ui-tabs .ui-tabs-panel {
        padding: 0 !important;
    }
</style>
<fieldset>
    <legend><h3>Basic Info</h3></legend>
    @Html.EditorFor(m => m.OrganizationEditModel, "CorporateAccountOrganizationEditModel")

    <div class="editor-row">


        <div style="width: 310px;float: left">
            

            <div class="editor-row">
                @Html.CheckBoxFor(m => m.CreateHost) Create Host @Html.ValidationMessageFor(m => m.CreateHost)
                <input type="hidden" name="ConvertedHostId" value="@Model.ConvertedHostId" />
            </div>

            <div class="editor-row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.CorpCode)<span class="reqiredmark"><sup>*</sup></span> @Html.ValidationMessageFor(m => m.CorpCode)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.CorpCode)
                </div>
            </div>

            <div class="editor-row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.ContractNotes) @Html.ValidationMessageFor(m => m.ContractNotes)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(m => m.ContractNotes, new { @rows = "3", @class = "custom-textbox" })
                </div>
            </div>
        </div>
        <div style="width: 590px;float: right">
            <div class="editor-row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.Content)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(m => m.Content, new { @rows = "10", @class = "myTextEditor" })
                </div>
            </div>
        </div>
    </div>
</fieldset>
<script language="javascript" type="text/javascript">
    var oInstance=  tinyMCE.init({
        // General options

        mode: "specific_textareas",
        editor_selector: "myTextEditor",
        theme: "advanced",
        height: "300",
        plugins: "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

        // Theme options
        theme_advanced_buttons1: "newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,cleanup,code", //anchor,image //,help
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,advhr,|,ltr,rtl", //iespell,media,//,|,print,|,ltr,rtl,|,fullscreen
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: false,
        theme_advanced_resizing_min_width: 2000,

        // Example content CSS (should be your site CSS)
        content_css: "/App/JavascriptFiles/tiny_mce/css/content.css",

        // Drop lists for link/image/media/template dialogs
        template_external_list_url: "/App/JavascriptFiles/tiny_mce/lists/template_list.js",
        external_link_list_url: "/App/JavascriptFiles/tiny_mce/lists/link_list.js",
        external_image_list_url: "/App/JavascriptFiles/tiny_mce/lists/image_list.js",
        media_external_list_url: "/App/JavascriptFiles/tiny_mce/lists/media_list.js",

        // Style formats
        style_formats: [
            { title: 'Bold text', inline: 'b' },
            { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
            { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
            { title: 'Example 1', inline: 'span', classes: 'example1' },
            { title: 'Example 2', inline: 'span', classes: 'example2' },
            { title: 'Table styles' },
            { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
        ],

        // Replace values for the template plugin
        template_replace_values: {
            username: "Some User",
            staffid: "991234"
        }
    });
</script>
<script type="text/javascript" src="/Scripts/addresseditmodel.helper.js"></script>